@model WeatherFeather.ViewModels.ForecastIndexViewModel

@{
    ViewBag.Title = "Forecasts";
}

<h2>Forecasts</h2>

@Html.Partial("_SearchForm", Model)
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@if (Model.Forecast != null)
{
    <div class="row">
        <div class="col-md-12">

            <div class="list-group">

                @if (Model.Forecast.Location != "")
                {

                    // Ugly hack fix for weird encoding issue
                    byte[] bytes = System.Text.Encoding.Default.GetBytes(@Model.Forecast.Region);
                    var region = System.Text.Encoding.UTF8.GetString(bytes);

                    <div class="list-group-item active">
                        <h4 class="list-group-item-heading"><strong>@Model.Forecast.Location</strong> @region @Model.Forecast.Country</h4>
                        @Html.ActionLink("Not the right " + @Model.Forecast.Location + "?", "ShowAlternatives", new { location=@Model.Forecast.Location })
                    </div>
                }


                @foreach (var period in Model.Forecast.ForecastPeriods)
                {
                    @Html.Partial("_Period", period);
                }

            </div>
        </div>
    </div>
    
}
